
<%= render 'devise/registrations/modal' %>


<div class='container'>
<% if user_signed_in? %>
<%= form_tag({:controller => "parkings", :action => "index"}, :method => :get) do %>
    <%= text_field_tag "searchbox", params[:searchbox] %>
    <%= submit_tag "Buscar", :name => nil %>
    <% end %>

<% end %>

<div>


<div class = 'text-center'>

    <h5> Hola bienvenido te damos las gracias por visitarnos pero esta app aun esta en construcción que tengas un buen dia</h5>
</div>
<h1 class = 'text-center'>App Parking</h1>

<div class = 'container'>
    <p class = 'text-center'>
        Debido a la alta demanda de aparcamientos nos hemos puesto a recoger y ubicar en un mapa todos los parkings en venta u arriendo. 
    </p>
    <div class ='text-center'>
        Usa esta aplicación para:
        <ul>

            <p> Encontrar aparcamiento en venta u arriendo usando tu comuna en cada momento.</p>

            <p> Conseguir el parking mas cercano a hogar o trabajo</p>

            <p> Ver el tamaño del parking ideal para tu vehiculo</p>

            <p> precios actualizados, métodos de pago y más</p>       

        </ul>
        También puedes añadir fácilmente un nuevo aparcamiento y ponerlo en venta u arriendo.    
    </div>
</div>
<div class = 'container'>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="apps-de-parking.jpg" class="d-block w-100" alt="estacionamiento subterraneo">
            </div>
            <div class="carousel-item">
            <img src="parking.jpg" class="d-block w-100" alt="estacionamiento al aire libre">
            </div>
            <div class="carousel-item">
            <img src="apps-de-parking_2.jpg" class="d-block w-100" alt="estacionamiento con vehiculos de distintos">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>