<div class='container'>
  <div>
    <div class = 'text-center'>
      <h5> Hola bienvenido te damos las gracias por visitarnos pero esta app aun esta en construcción que tengas un buen dia</h5>
    </div>
    <h1 class = 'text-center'>App Parking</h1>
    <div class = 'container'>
      <p class = 'text-center'>
        Debido a la alta demanda de aparcamientos nos hemos puesto a recoger y ubicar en un mapa todos los parkings en venta.
      </p>
      <div class ='text-center'>
        Usa esta aplicación para:
        <ul>
          <p> Encontrar aparcamiento en venta.</p>
          <p> Conseguir el parking mas cercano a hogar o trabajo</p>
          <p> Ver el tamaño del parking ideal para tu vehiculo</p>
          <p> precios actualizados, métodos de pago y más</p>
        </ul>
        También puedes añadir fácilmente un nuevo aparcamiento y ponerlo en venta. 
      </div>
    </div>
    <%= render 'carrousel' %>
