<div class='container'>


<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-">
            <div class="product-details mr-2">
               
                <h2 class="mb-0 text-center ">outstanding</h2>
                <div class="d-flex justify-content-between"><span></span>
                    <div class="d-flex flex-row align-items-center"><span class="text-black-50">Price:</span>
                    </div>
                </div>
                <% @order.order_items.includes(:parking).each do |item| %>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"> <%= image_tag item.parking.image.variant(resize: "150x150" ), :class => 'rounded', :id => "left-photo" %>
                        <div class="ml-2"><span class="font-weight-bold d-block"><%= item.parking.address %> </span><span class="spec"><%= item.parking.description %></span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block"></span><span class="d-block ml-5 font-weight-bold" id='trash-icon'>$ <%= item.parking.price %></span>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <br>
    </div>
</div>




</div>