    <footer class="container-fluid bg-dark">
      <div class="container-fluid text-center text-white font-weight-bold">
        <h2>Meet us</h2>
        </a>
        <a href="https://www.instagram.com/app_parking_lots/" target="_blank">
          <span
            class="align-middle text-white"
            data-toggle="tooltip"
            data-placement="top"
            title="Instagram"
          >
            <i class="fab fa-instagram fa-2x mx-1"></i>
          </span>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100071812345669" target="_blank">
          <span
            class="align-middle text-white mx-1 "
            data-toggle="tooltip"
            data-placement="top"
            title="Facebook"
          >
            <i class="fab fa-facebook-square fa-2x "></i>
          </span>
        </a>
        <p class='text-footer'>© 2021 ParkingsLots.All rights reserved.</p>
      </div>
    </footer>